.node-donation {
  background-color: $foe-white;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: unset;
  position: relative;

  .bg-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $foe-extradark;
    opacity: .25;
  }

  header.article-header {
    h1 {
      text-shadow: 0 0 10px rgba(0, 0, 0, .6);
      color: $foe-white !important;
    }
  }

  &.node-teaser {
    background-color: transparent;
  }

  .donation-sticker {
    z-index: 1;

    .field-collection-view-links {
      display: none;
    }

    .field-name-field-sticker {
      margin: 50px auto 0;
      height: 300px;
      width: 300px;
      border-radius: 150px;
      text-align: center;
      transform: rotateZ(15deg);
      background-color: $foe-light;
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        top: 50%;
        transform: rotateZ(15deg) translateY(-50%);
        right: 95px;
        margin: 0;
      }
    }

    .content {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 30px;
      color: #f8f8f3;
    }

    .field-name-field-small-text {
      font-size: 18px;
      text-transform: uppercase;
      font-family: $font-family-sans-serif;
      font-weight: 600;
    }

    .field-name-field-large-text {
      font-size: 30px;
      line-height: 1.3;
      font-family: $font-family-sans-serif;
      font-weight: 600;
    }
  }

  .donation-box-inner {
    position: relative;
    background-color: $foe-white;
    padding: $grid-gutter-width;
    z-index: 4;

    @include media-breakpoint-up(sm) {
      margin-left: $grid-gutter-width * -1;
      margin-right: $grid-gutter-width * -1;
    }

    .form-text {
      margin-top: 0;
    }
  }

  .tooltip {
    br {
      display: none;
    }

    span {
      display: none;
      border: 2px solid $foe-primary;
      width: 100%;
      padding: 10px 20px;
      position: relative;

      &.active {
        background: #fff;
        display: block;
      }

      &::after,
      &::before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        left: 9.5%;
      }

      &::after {
        border-bottom-color: #fff; // Masks the arrow
        border-width: 12px 20px;
        margin-left: -18px;
      }

      &::before {
        border-bottom-color: $foe-primary;
        border-width: 14px 24px;
        margin-left: -22px;
      }

      &:nth-child(2) {
        &::after,
        &::before {
          left: 32.5%;
        }
      }

      &:nth-child(3) {
        &::after,
        &::before {
          left: 55.5%;
        }
      }

      &:nth-child(4) {
        &::after,
        &::before {
          left: 84.5%;
        }
      }
    }
  }

  .tooltip.no-other {
    span {
      &::after,
      &::before {
        left: 15%;
      }

      &:nth-child(2) {
        &::after,
        &::before {
          left: 50%;
        }
      }

      &:nth-child(3) {
        &::after,
        &::before {
          left: 85%;
        }
      }
    }
  }

  form {
    .webform-component--gift-aid .picker-label {
      line-height: 1.3;
    }

    .form-type-checkbox .picker {
      .picker-handle {
        width: 20px;
        height: 20px;
      }

      .picker-label {
        font-size: 16px;
        width: calc(100% - 28px);
      }
    }
  }

  .select-or-other .form-type-textfield {
    label {
      display: none;
    }

    .input-group-prepend {
      margin-right: 0;
    }

    input {
      margin-top: 0;

      &:focus {
        border: initial;
        box-shadow: initial;
      }
    }
  }
}

.donation-certifications {
  position: relative;
  padding-top: $spacer * 3;
  margin-bottom: $spacer;

  @include media-breakpoint-up(sm) {
    padding-top: $spacer * 4;
  }

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 5;
  }

  .logos {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/donation-logos.png');
    background-size: 300px 45px;
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-left: ($grid-gutter-width / 2);
    margin-right: ($grid-gutter-width / 2);

    @include media-breakpoint-up(sm) {
      margin-left: ($grid-gutter-width / 2) * -1;
      margin-right: ($grid-gutter-width / 2) * -1;
    }
  }
}

// Adjust back-to-payment-method button
.payment-slide-back {
  margin-bottom: $spacer;

  .btn {
    white-space: inherit;

    &::before {
      content: "\00AB\00A0\00A0 ";
    }
  }
}

// Display and style label for credit card expiry date
.payment-method-form {
  .control-label {
    display: none;
  }

  .expiry-date.form-wrapper[id^="edit-submitted-paymethod-select-payment-method"] legend {
    width: auto;
    height: auto;
    position: static;
    clip: unset;
    overflow: visible;
    text-align: center;
    font-size: 12px;
  }

  .expiry-date.form-wrapper[id^="edit-submitted-paymethod-select-payment-method"] legend .fieldset-legend {
    color: #555;
  }
}

.webform-component--donation-interval .form-radios {
  flex-direction: column;
}
