// ...Largely copied from the donation.less file
.node-webform {
  .article-header {
    margin-top: $spacer;
  }

  &.streamlined-display-with-background {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;

    .article-header {
      margin-top: $spacer;
    }

    .bg-image-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $foe-extradark;
      opacity: .25;
    }

    header.article-header {
      h1 {
        text-shadow: 0 0 10px rgba(0, 0, 0, .6);
        color: $foe-white !important;
      }
    }

    &.node-teaser {
      background-color: transparent;
    }
  }
}
