.field-collection-view-links {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  margin: 0;
  padding: 10px;

  li {
    list-style: none;
  }

  a {
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    font-weight: 600;
    display: block;
    background-color: $foe-white;
  }

  body.logged-in .block-cck-blocks:hover > .content > .field-collection-container > & {
    display: block;
  }
}

.node-teaser.clickable {
  cursor: pointer;
}

.drupal-messages {
  position: fixed;
  z-index: $zindex-modal;
  background-color: $foe-offwhite;
  border-radius: .1rem;
  box-shadow: 0 0 2rem 1rem rgba(darken($gray-800, 50%), .4);
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 0 !important;

  @include media-breakpoint-up(sm) {
    min-width: 320px;
    max-width: 480px;
  }

  @include media-breakpoint-up(lg) {
    min-width: 480px;
    max-width: 640px;
  }

  .heading-container {
    text-align: center;
    font-size: 3rem;
    color: #fff;
  }

  .message-container {
    padding: $spacer;

    p {
      word-break: break-word;
      color: inherit !important;
    }

    button {
      text-align: center;
    }
  }
}

.overlay-open {
  .drupal-messages {
    z-index: 100001;
  }
}

.messages {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }

  &.clientside-error {
    border: 1px solid #f8d7da;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: .1rem;
    padding: .5rem;
    margin-bottom: $spacer/2;
  }
}

.element-invisible {
  @include sr-only();
}

#ae-bar {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

#ae-popups {
  z-index: $zindex-navbar + 2;
}

#ae-popups .sidepopup .menu,
#ae-popup-manage-toplevel-menu {
  padding-left: 0 !important;
}

// replicate AE-menu looks for drupal local admin tasks
#admin-tabs {
  background: #595757 url(../img/ae_dark_bg.png);
  border-bottom: 1px solid #413f3f;
  margin-top: -1px;
  font-size: 11px;
  font-weight: bold;
  z-index: $zindex-navbar + 1;
  position: relative;

  ul li {
    a {
      border-radius: 0;
      color: #e4dede;
      text-decoration: none;
      text-shadow: 1px 1px 2px #413f3f;

      &.active,
      &:hover {
        background-color: rgba(#fff, .1) !important;
      }
    }
  }
}

#ae-menu-show {
  z-index: $zindex-navbar + 10;
}

#ae-widepopups {
  z-index: $zindex-navbar + 2;

  .wideside {
    padding: $spacer $spacer/2;
  }

  ol.twocol {
    padding: 0;

    li.col {
      width: 50%;
      margin: 0;
      padding: 0 $spacer/2;

      ul.menu {
        padding-left: 0;

        li {
          margin-left: 0;
        }
      }
    }
  }
}

#ae-sidemenu li#ae-menu-hide a {
  height: 60px !important;
}

#admin-menu {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }

  @include media-breakpoint-up(sm) {
    display: block;
    z-index: $zindex-navbar+5;

    .dropdown {
      z-index: $zindex-navbar+10;
    }
  }
}

body.logged-in {
  @include media-breakpoint-down(sm) {
    padding-top: 0 !important;

    &.admin-menu {
      margin-top: 0 !important;
    }
  }
}

.hidden {
  display: none !important;
}
