footer.foe-footer {
  background-color: $foe-extradark;
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;
  color: $foe-gray;
  position: relative;

  .customer-line {
    display: block;
    width: auto;
    color: #fff;
    font-size: 15px;
    float: left;

    @include margin-vertical-align($foe-nav-height-small, 64px);

    @include media-breakpoint-up(sm) {
      @include margin-vertical-align($foe-nav-height-small, 64px);
    }

    @include media-breakpoint-up(md) {
      @include margin-vertical-align($foe-nav-height-medium, 64px);
    }

    p {
      margin: 0;
      padding-left: 24px;
      font-size: 13px;

      &.phone-text {
        background-image: url('../img/phone-mobile.png');
        background-position: 2px 5px;
        background-repeat: no-repeat;
        font-size: 14px;
        font-weight: bold;

        @include media-breakpoint-up(md) {
          font-size: 18px;
          background-position: 0 4px;
          background-image: url('../img/phone.png');
        }
      }
    }
  }
}
