body {
  background-color: $foe-extradark;
  // Set here (then overridden in section.foe-main) so that if the page
  // is shorter than the viewport the footer will (visually) extend.

  &.layout-sticky {
    @include media-breakpoint-up(lg) {
      padding-right: 45vw;
      padding-bottom: $spacer * 3;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 33vw;
    }
  }
}

section.foe-main {
  background-color: $foe-white;
  padding-top: 0;
  // Was padding-bottom: $spacer * 2; maybe apply this in a later stage and then write an exception only for the donation page
  padding-bottom: $spacer * 10;
  // min-height: 75vh;

  body.menu-fixed & {
    padding-top: (unitless($foe-nav-height-small)/14) + $spacer * 2;

    @include media-breakpoint-up(sm) {
      padding-top: (unitless($foe-nav-height-small)/14) + $spacer * 2;
    }
  }

  // Take off extra padding on donation forms
  body.node-type-donation &,
  body.node-type-thank-you-page & {
    padding-bottom: 0;
  }

  body.layout-sticky & {
    padding-bottom: 0;

    @include media-breakpoint-up(lg) {
      padding-bottom: 5rem;
    }
  }
}

header.article-header {
  padding-top: $spacer * 1;
  margin-bottom: $spacer * 1;

  @include media-breakpoint-up(sm) {
    padding-top: $spacer * 2;
    margin-bottom: $spacer * 2;
  }

  h2 {
    color: $foe-primary;
  }
}

.article-body {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}

.media-vimeo-video,
.media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.file-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.content-arrow-slide {
  // overridden via the per-node CSS injection block, e.g.:
  // body.page-node-395 .content-arrow-slide.arrow_slide {display: block;}
  width: 59px;
  height: 27px;
  display: none;
  margin: 0 auto;
  background-color: $body-bg;
  background-image: url(../img/arrow.png);
  background-position: center 10px;
  background-repeat: no-repeat;
  text-indent: -90000px;
  border-radius: 44px 44px 0 0;
  margin-bottom: -2px;
  position: relative;
  z-index: 10;

  &.inverted {
    background-position: center 5px;
    border-radius: 0 0 44px 44px;
    margin-bottom: -27px;
  }
}
