// Main nav container
// Refer to the main variable file for measurements.

header.foe-header {
  // We don't have js-menustack on Campaignion :(
  box-shadow: none !important;

  // Transparentize in new ux
  body.layout-sticky & {
    top: 0;
    position: absolute;
    background-color: transparent !important;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 55%;
    }

    @include media-breakpoint-up(lg) {
      width: 66.66666%;
    }
  }

  body.logged-in.layout-sticky & {
    top: auto;
  }

  .region-header .block {
    display: block;
    width: auto;
    color: #fff;
    font-size: 15px;
    float: right;

    @include margin-vertical-align($foe-nav-height-small, 64px);

    @include media-breakpoint-up(sm) {
      @include margin-vertical-align($foe-nav-height-small, 64px);
    }

    p {
      margin: 0;
      padding-left: 24px;
      font-size: 13px;

      &.phone-text {
        background-image: url('../img/phone-mobile.png');
        background-position: 2px 5px;
        background-repeat: no-repeat;
        font-size: 14px;
        font-weight: bold;

        @include media-breakpoint-up(md) {
          font-size: 18px;
          background-position: 0 4px;
          background-image: url('../img/phone.png');
        }
      }
    }
  }
}
