.view-actions {
  .node-teaser {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;

    @include media-breakpoint-up(sm) {
      padding-top: $spacer * 4;
      padding-bottom: $spacer * 4;
    }

    @include media-breakpoint-up(md) {
      padding-top: $spacer * 5;
      padding-bottom: $spacer * 5;
    }
  }
}
