form .form-group select.form-select {
  position: relative;
  margin-bottom: -58px;
  display: block;
  width: 100%;
  height: 46px;
  padding: 6px 12px;
  border: 1px solid #ededed;
}

// Hide massive fullscreen "main image" on simple actions e.g. email protests
.region-content-top #block-cck-blocks-field-main-image {
  display: none;
}

form .form-group .help-block {
  display: block;
}
