/* stylelint-disable no-descending-specificity */
.cck-full-width-image {
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 4;

  @include media-breakpoint-up(sm) {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
  }

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $foe-white !important;
  }

  h3 {
    font-weight: 300;
  }

  p {
    strong {
      color: $foe-donate;
    }
  }

  .cta-button {
    margin-top: $spacer;

    a {
      display: inline-block;
    }
  }
}

.cck-three-column {
  padding-top: $spacer*2;
  padding-bottom: $spacer*2;

  @include media-breakpoint-up(sm) {
    padding-top: $spacer*3;
    padding-bottom: $spacer*3;
  }

  @include media-breakpoint-up(md) {
    padding-top: $spacer*4;
    padding-bottom: $spacer*4;
  }

  .block-title {
    padding-bottom: $spacer;
  }
}

.cck-three-column-text {
  background-color: $body-bg;

  .cck-column-text-single {
    p {
      font-size: 18px;
    }
  }
}

.field-collection-container {
  margin-bottom: 0 !important;
}

.cck-three-column-text-images {
  background-color: $foe-primary;

  h2,
  p {
    color: $foe-white !important;
  }

  .field-type-image {
    margin-top: $spacer;
    margin-bottom: $spacer;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
}

.cck-quotation {
  background-color: $foe-primary;
  position: relative;

  .quotation-box {
    background-color: $foe-primary;
    color: $foe-white !important;
    margin-top: $spacer * 10;
    margin-bottom: $spacer * 10;

    .quotation-box-inner {
      padding: $spacer * 2;

      .quote-text {
        font-style: italic;
        position: relative;
        font-size: 22px;
        padding: 0 25px;
        margin-bottom: $spacer;
        display: inline-block;

        &::before {
          content: "“";
          top: 0;
          left: 0;
          line-height: 40px;
          position: absolute;
          font-size: 40px;
        }

        &::after {
          content: "”";
          bottom: 0;
          right: 0;
          line-height: 0;
          position: absolute;
          font-size: 40px;
        }
      }

      .quote-author {
        font-size: 12px;
        font-style: italic;
      }
    }
  }

  .background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }
}
/* stylelint-enable no-descending-specificity */
