/* stylelint-disable no-descending-specificity */
.paymethod-select-wrapper {
  .form-type-radio {
    label {
      &::before {
        content: none;
      }
    }

    // Add PayPal logo to buttons for payment methods 7 (sandbox) 10 (trust) and 13 (limited)
    label[for*=payment-method-selector-7],
    label[for*=payment-method-selector-10],
    label[for*=payment-method-selector-13] {
      background-color: #253b80;
      color: rgba(255, 255, 255, 0);
      background-image: url('../img/paypal-logo-white.svg');
      background-size: 100px;
      background-position: center center;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }
  }
}

.webform-container-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;

  .form-group {
    display: inline-block;
    flex: 0 1 100%;
    padding: 0 2px;
  }

  > * {
    margin: .5em;
  }

  > *:first-child {
    margin-left: 0;
  }

  > *:last-child {
    margin-right: 0;
  }

  @media (min-width: 768px) {
    &.form-inline .form-control {
      width: 100%;
    }
  }
}

.big-radio-buttons,
div[class*=donation-amount],
div[class*=dd-amount],
div[class*=regular-amount] {
  $button-inline-padding: (5/14) * 1rem;

  .form-radios {
    display: flex;
    margin-left: $button-inline-padding * -1;
    margin-right: $button-inline-padding * -1;

    .radio {
      padding-left: $button-inline-padding;
      padding-right: $button-inline-padding;
      flex: 1 0 auto;

      label {
        border: 2px solid $foe-primary;
        background-color: $foe-white;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 600;
        font-size: 15px;
        padding: 14px 0;
        text-align: center;
        text-transform: uppercase;
        color: $foe-dark;
        width: 100%;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
          font-size: 20px;
          padding: 16px 0;
        }

        // Deactivate the base FOE radio
        &::before {
          content: none;
        }
      }

      input:checked + label {
        border: 2px solid $foe-primary;
        background-color: $foe-primary;
        color: $foe-white;
      }
    }
  }
}

.webform-ajax-slide-loading-dummy .container {
  width: auto !important;
}

.webform-component-checkboxes.webform-component--gift-aid {
  border: 2px solid rgba($gray-400, 40%);
  padding: 15px;

  .form-group {
    label {
      $checkbox-shunt: (26/14) * 1rem;

      position: relative;
      padding-left: $checkbox-shunt;

      &::before {
        position: absolute;
        left: 0;
      }
    }
  }
}

.webform-component-markup {
  @for $counter from 1 through 10 {
    &.webform-component--title#{$counter} {
      display: none;
    }
  }
}

.expiry-date {
  .fieldset-wrapper {
    margin-left: $grid-gutter-width/2*-1;
    margin-right: $grid-gutter-width/2*-1;
  }

  .form-group {
    width: 50% !important;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    float: left;
  }
}

.email-to-target-edit {
  margin-left: 1em;
}

.webform-ajax-slide-loading-dummy .container div {
  margin: $spacer auto 0 auto;
  background: url(../img/ajax-black.svg) center center no-repeat transparent;
  width: 120px;
  height: 120px;
  text-indent: -99999px;
}

input,
button {
  &[data-direction="back"] {
    @include sr-only();
  }
}

form {
  .webform-component--postcode label {
    @include sr-only();
  }

  .payment-method-form {
    .form-wrapper {
      legend:not(.legend-paypal),
      label {
        @include sr-only();
      }

      .legend-paypal {
        text-indent: -9999px;
        background: url(../img/pp-logo-200px.png) center no-repeat;
        border-bottom: 0 solid transparent;
        margin: 40px 0 20px 0;
        height: 40px;
        background-size: contain;
        display: block;
        float: left;
      }
    }

    span.fieldset-legend {
      color: $foe-text;
      display: inline-block;
    }
  }

  /* Adjust Bootstrap's .form-inline class to apply cleanly to our radio buttons */
  .form-inline {
    .control-label {
      width: 100%;
      justify-content: left;
    }

    .form-radios {
      display: flex;
      margin-bottom: $spacer;
      width: 100%;
      clear: both;

      &:not(.form-group) {
        margin-bottom: 0;
      }
    }

    &.form-type-radios {
      margin-bottom: $spacer;
    }

    .form-group.form-type-radio {
      margin: 10px 2em 10px 0;
      vertical-align: top;

      &:last-of-type {
        margin-right: 0;
      }

      input {
        position: absolute;
      }

      label {
        margin-bottom: 0;
      }

      .picker {
        margin: 0;
      }
    }
  }

  .form-actions .ajax-progress-throbber {
    display: none;
  }

  .form-group {
    .additional-text-box-toggleable {
      display: none;
    }

    &.field-error {
      &:not(.pristine) input,
      input.error {
        background-repeat: no-repeat;
        background-position: 98% 50%;
        border: 2px solid $foe-danger !important; // Override focus
        box-shadow: inset 0 0 3px $foe-danger !important; // Override focus
        background-image: url(../img/error-mark.png);
      }
    }

    &.field-success {
      &:not(.pristine) input {
        background-repeat: no-repeat;
        background-position: 98% 50%;
        border: 2px solid $foe-success !important; // Override focus
        box-shadow: inset 0 0 3px $foe-success !important; // Override focus
        background-image: url(../img/check-mark.png);
      }
    }
  }

  .form-type-webform-time {
    .form-radios {
      min-width: 60px;
      padding-left: 10px;

      .picker-label {
        padding-left: 5px;
      }

      .form-group:first-child {
        padding-top: 8px;
      }
    }
  }

  .fieldset-legend {
    color: $gray-400;
  }

  .messages.error.clientside-error {
    padding: $spacer/2 0;
    margin: 0;

    ul {
      padding-left: $grid-gutter-width/2;
      margin: 0;

      label {
        font-weight: 500;
        vertical-align: top;
      }
    }
  }

  .form-textarea {
    resize: vertical;
  }

  .help-block {
    font-size: .8rem;
  }

  // Switches pre as normal text.
  pre {
    color: $white;
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 1rem;
  }
}
/* stylelint-enable */
