section.foe-login-page {
  height: 100vh;
  background-image: linear-gradient($foe-accent, $foe-extradark);

  .navbar-brand {
    margin-right: 0;
    margin-bottom: $spacer * 2;

    img {
      width: 50%;
    }
  }

  form {
    label {
      @include sr-only();
    }

    .help-block {
      margin-top: .2rem;
      font-size: .8rem;
      color: $white;
    }

    .form-group {
      margin-bottom: $spacer*3;
    }
  }
}
