// Variables references with map-get, copy and paste from here.
//
// map-get($palette, primary)
// map-get($palette, light)
// map-get($palette, accent)
// map-get($palette, dark)
// map-get($palette, extradark)
// map-get($palette, grey)
// map-get($palette, donate)
// map-get($palette, white)

@each $name, $palette in $palette-mapping {
  $checkbox-border: rgba(map-get($palette, grey), .4);

  // Add in here the styling
  body.campaign-#{$name} {
    background-color: map-get($palette, extradark);

    section.foe-main {
      background-color: map-get($palette, white);
    }

    a {
      color: map-get($palette, light);

      &:hover,
      &:active {
        color: map-get($palette, dark);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: map-get($palette, dark);

      small,
      .small {
        color: map-get($palette, dark);
      }

      .field-body & {
        color: map-get($palette, primary);
      }
    }

    .subtitle {
      color: map-get($palette, primary);
    }

    blockquote {
      border-color: map-get($palette, primary);

      p,
      ul,
      ol {
        color: map-get($palette, primary);
      }
    }

    // Main elements
    header.foe-header {
      background-color: map-get($palette, dark);
    }

    footer.foe-footer {
      background-color: map-get($palette, extradark);
      color: map-get($palette, grey);
    }

    // UI Elements
    .btn-primary {
      color: map-get($palette, white);
      background-color: map-get($palette, primary);

      &:hover,
      &:focus,
      &:active,
      &:hover:active,
      &:active:focus {
        color: map-get($palette, white);
        background-color: map-get($palette, primary);
        outline: 0 none transparent;
      }
    }

    .btn-donate,
    .cta-button a {
      color: map-get($palette, white);
      background-color: map-get($palette, donate);

      &:hover,
      &:focus,
      &:active,
      &:hover:active,
      &:active:focus {
        color: map-get($palette, white);
        background-color: map-get($palette, donate);
        outline: 0 none transparent;
      }
    }

    .btn-secondary,
    .block-share-light ul.share-light a {
      color: map-get($palette, primary);
      border-color: map-get($palette, primary);

      &:hover,
      &:focus,
      &:active,
      &:hover:active,
      &:active:focus {
        color: map-get($palette, primary);
        border-color: map-get($palette, primary);
        outline: 0 none transparent;
      }
    }

    .related-campaign-container {
      background-color: map-get($palette, primary);

      a {
        background-color: map-get($palette, light);

        &::before {
          border: $spacer solid map-get($palette, primary);
          border-right-color: transparent;
        }

        &::after {
          background-color: map-get($palette, light);
        }
      }
    }

    form {
      .form-type-checkbox .picker.picker-checkbox.checked {
        .picker-flag {
          background-color: map-get($palette, primary);
        }

        .picker-handle {
          border-color: map-get($palette, primary);
        }
      }

      .form-type-radio .picker.picker-radio.checked {
        .picker-flag {
          background: map-get($palette, primary);
        }

        .picker-handle {
          border-color: map-get($palette, primary);
        }
      }

      .paymethod-select-wrapper .form-type-radio .picker-radio {
        background-color: map-get($palette, primary);
      }
    }


    // Petition Elements
    .node-petition-sidebar .petition-sidebar {
      background-color: map-get($palette, extradark);

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .h1,
      .h2,
      .h3,
      .h4,
      .h5,
      .h6 {
        color: map-get($palette, light);
      }

      .webform-progressbar {
        &::before,
        &::after {
          background-color: map-get($palette, extradark);
        }
      }

      .webform-progressbar-page {
        &.current .webform-progressbar-page-label {
          &::before {
            border-left-color: map-get($palette, dark);
          }

          &::after {
            border-left-color: map-get($palette, light);
            background-color: map-get($palette, grey);
          }
        }
      }
    }

    .node-petition-sidebar .recent-supporters .supporter .name {
      color: map-get($palette, dark);
    }

    .pgbar-bg .pgbar-current {
      background-color: map-get($palette, light);
    }

    .block-share-light {
      background-color: map-get($palette, primary);
    }
    // Donation Elements

    .webform-component-checkboxes.webform-component--gift-aid {
      border-color: $checkbox-border; // See on top for declaration
    }

    .cck-three-column-text-images {
      background-color: map-get($palette, dark);
    }

    .donation-sticker .field-name-field-sticker {
      background-color: map-get($palette, light);
    }

    .cck-quotation {
      background-color: map-get($palette, primary);

      .quotation-box {
        background-color: map-get($palette, primary);
      }
    }

    .node-donation {
      .bg-image-overlay {
        background-color: map-get($palette, extradark);
      }

      .donation-box-inner {
        background-color: map-get($palette, white);
      }
    }

    article.node-thank-you-page .foe-box-solid {
      background-color: map-get($palette, white);
    }

    .node-webform.streamlined-display-with-background .bg-image-overlay {
      background-color: map-get($palette, extradark);
    }

    form .form-group.big .selecter .selecter-selected {
      background-color: map-get($palette, primary);
    }

    // Big radios
    .big-radio-buttons,
    div[class*=donation-amount],
    div[class*=dd-amount],
    div[class*=regular-amount] {
      .form-radios .radio {
        label {
          border: 2px solid map-get($palette, primary);
          background-color: map-get($palette, white);
          color: map-get($palette, dark);
        }

        input:checked + label {
          border: 2px solid map-get($palette, primary);
          background-color: map-get($palette, primary);
          color: map-get($palette, white);
        }
      }
    }

    .node-donation form .tooltip span {
      border-color: map-get($palette, primary);

      &::before {
        border-bottom-color: map-get($palette, primary);
      }
    }

    .webform-progressbar-page {
      .webform-progressbar-page-label {
        background-color: map-get($palette, grey);
      }

      &.previous .webform-progressbar-page-label {
        background-color: map-get($palette, dark);
      }

      &.current {
        &::before {
          background-color: map-get($palette, dark);
        }

        &::after {
          background-color: map-get($palette, grey);
        }

        .webform-progressbar-page-label {
          background-color: map-get($palette, light);
        }
      }
    }

    .progress-bar-mobile {
      background-color: map-get($palette, extradark);
    }

    .new-ux-supporters .recent-supporters .supporter::before {
      background-color: map-get($palette, primary);
      border-color: map-get($palette, primary);
    }

    aside.new-ux-sticky {
      background-color: map-get($palette, extradark);
    }

    .new-ux-fixed-button {
      background-color: map-get($palette, primary);
    }
  }
}
