// Round button override.
.btn-rounded {
  border-radius: $quiz-border-radius;
  text-transform: none !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fs-slide {
  position: relative;
  min-height: 100vh;
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
}

@for $i from 0 through 10 {
  .d-opacity-#{$i} {
    opacity: $i/10 !important;

    @if ($i == 0) {
      pointer-events: none;
    }
  }
}
