#foe-quiz-start {
  position: relative;
  overflow: hidden;

  // Because it is loading with this class
  &.btn-outline-donate {
    pointer-events: none;
  }

  #foe-quiz-loader-bar {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $foe-donate;
    transition: width 500ms ease-in-out;
  }

  #foe-quiz-loader-step {
    color: $foe-offwhite;
    position: relative;
    display: block;
    z-index: 2;
  }
}
