#foe-quiz-score {
  width: 100%;
  z-index: $zindex-quiz-score;

  .quiz-only {
    opacity: 0;
  }

  .logo {
    z-index: 5;
    position: relative;
    text-align: center;
    padding-top: $spacer/2;
    padding-bottom: $spacer/2;
    height: $foe-nav-height-small;
    width: 100%;

    @include media-breakpoint-up(md) {
      height: $foe-nav-height-medium;
    }

    @include media-breakpoint-up(lg) {
      height: $foe-nav-height-large-scrolled;
    }

    img.foe-logo {
      position: absolute;
      transition: opacity linear $slide-transition-duration;
      height: 100%;
      max-width: 100%;
      transform: translateX(-50%);
      z-index: $zindex-quiz-score;

      &.foe-logo-white {
        opacity: 1;

        .quiz-ended & {
          opacity: 0;
        }
      }

      &.foe-logo-negative {
        opacity: 0;

        .quiz-ended & {
          opacity: 1;
        }
      }
    }
  }

  p {
    font-weight: bold;
    color: $foe-offwhite;
    margin: $spacer 0;
  }
}
